@font-face {
  font-family: "Triforce";
  src: url("./assets/Triforce.ttf") format("truetype");
}

body {
  color: rgba(255, 255, 255, 0.87);
  background: url("./assets/bg.jpg") no-repeat fixed center/cover;
}

body::before {
  content: "";
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  pointer-events: none;
  width: 100vw;
  height: 100vh;
}
